@model IEnumerable<Client_Server.Models.entity.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<p>
    <a href="@Url.Action("Create", "Category")" class="btn btn-info btn-rounded btn-fw">Create new</a>
</p>
<div class="card">
    <div class="table-responsive pr-3">
        <table class="table table-striped project-orders-table table-hover ">
            <thead>
                <tr>
                    <th>
                        Tên Danh mục
                    </th>
                    <th>
                        Hành động
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameCate)
                        </td>
                        <td>
                            <div class="filter__page-control">
                                <a href="@Url.Action("Edit", "Category", new { id = item.idCategory})" class="btn btn-success btn-sm btn-icon-text mr-3">
                                    Edit
                                    <i class="typcn typcn-edit btn-icon-append"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Category", new { id = item.idCategory})" class="btn btn-danger btn-sm btn-icon-text">
                                    Delete
                                    <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
