@model IEnumerable<Client_Server.Models.DTO.CateDTO> 

            @foreach(var item in Model)
            {
                <li><a href="@Url.Action("SearchByBrand","Customer", new {id = item.id })"> <span class="pull-right">(@item.Count)</span>@item.Name</a></li>
            }


