@model IEnumerable<Client_Server.Models.entity.category>

<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="@Url.Action("SearchByCate","Customer", new { id = item.idCategory})">@item.NameCate</a></h4>
            </div>
        </div>

    }
</div>

